.arrow {
  line-height: 0px;
  margin-right: 5px;
}
.blue {
  font-size: 4rem;
  font-weight: bold;
  color: rgb(0, 23, 97);
  margin-left: 15px;
  background-color: rgb(245, 253, 255);
  padding: 10px;
  border-radius: 10px;
}
.yellow {
  font-size: 4rem;
  font-weight: bold;
  color: rgb(211, 226, 0);
  margin-left: 15px;
  background-color: rgb(245, 253, 255);
  padding: 10px;
  border-radius: 10px;
}
.green {
  font-size: 4rem;
  font-weight: bold;
  color: rgb(0, 94, 20);
  margin-left: 15px;
  background-color: rgb(245, 253, 255);
  padding: 10px;
  border-radius: 10px;
}
